.sidebaroption{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebaroption > .MuiSvgIcon-root{
    padding: 15px;
}
.sidebar_active{
    color: var(--twitter-color);
}
.sidebaroption:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}
.sidebaroption>h3{
    font-weight: 700;
    font-size: 18px;
    margin-right: 20px;
}